section.form-container {
  height: 100%;
  @include flexCenter(center, column, start);
  margin-top: 5.5rem;

  // small {
  //   // margin: 0.3em;
  //   padding: 0.3em;
  //   border-radius: $border-radius;
  //   background-color: $danger-color;
  //   border: solid 1px salmon;
  // }

  ul {
    background-color: #d7ebce;
    margin: 0.5em;
    border: solid 1px #3b763d;
  }

  ul li {
    padding: 0.5em;
    margin-left: 1.5em;
    color: #3b763d;
    font-size: 0.8rem;
    text-transform: none;
  }

  ul.warning {
    background-color: $danger-color;
    border: solid 1px $danger-border;
    li {
      background-color: $danger-color;
      color: $danger-font;
      text-transform: none;
    }
  }
}

@media (min-width: 768px) {
  .form-group {
    display: flex;
    flex-wrap: wrap;

    .form-control {
      width: 50%;

      ul.guidelines {
        width: 200%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .form-container {
    form {
      width: 50%;
    }
  }
}
