.login-container {
  width: 393px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 500px;

  ul {
    background-color: $danger-color;
    margin: 0.5em;
    border: solid 1px $danger-border;
  }

  ul li {
    padding: 0.5em;
    margin-left: 1.5em;
    background-color: $danger-color;
    color: $danger-font;
    font-size: 0.8rem;
    text-transform: none;
  }

  a {
    padding: 0.5em;
    font-size: 0.8em;
    text-decoration: underline;
    display: block;
    text-align: center;
    width: 100%;
    color: black;
  }
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}
