.tab-container {
  margin-top: 4.3rem;
  display: flex;
  height: 50px;
  align-items: center;
  width: 100%;
}

.tab {
  background-color: $lightest-blue;
  border-bottom: 2px solid $light-blue;
  height: 3em;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  a {
    text-decoration: none;
    color: #333;
  }
}

.active-div {
  background-color: $tertiary-color;
  border-bottom: none;
}
// .nav-links a {
//   text-decoration: none;
// }

.tab:hover {
  background-color: $tertiary-color;
  border-bottom: none;
}

@media (min-width: 768px) {
  .tab-container {
    margin-top: -0.2em;
  }
}
