.header-fixed {
  width: 100%;
  position: relative;
  z-index: 3;
  height: fit-content;
  .large {
    display: none;
  }
  .small {
    width: 120px;
    a {
      margin-right: 1em;
    }
  }
  color: white;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  height: 70px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 0 3px 3px;
  position: fixed;
  top: 0;
  left: 0;

  svg {
    height: 2em;
    width: 2em;
  }

  .navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div:nth-child(2) {
      width: 9rem;
    }
    li:hover {
      cursor: pointer;
    }
  }

  div {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li:nth-child(1) {
    padding: 0 5px;
  }
}

.nav-container.show {
  height: fit-content;
  padding-top: 0;
  // align-items: c;
}

.menu-icon {
  cursor: pointer;
}

.nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-links li {
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.drop-down {
  // width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drop-down.show {
  display: flex;
  align-items: end;
}

@media (min-width: 768px) {
  .nav-container {
    // position: relative;
    z-index: 3;
    height: fit-content;
  }
  .navbar {
    div:nth-child(2) {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .nav-container {
    // width: 80%;
    // left: calc(50% - 80% / 2);
    .large {
      display: flex;

      list-style: none;
      li {
        margin: 0 1em;
      }
      h4 {
        margin: 0 1em;
      }
    }

    .small {
      display: none;
    }
  }
}
