.form {
  width: 80%;
  padding: 2em;
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: solid 1px $neutral-blue;
}
.form-control {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  label {
    padding: 0.5em 0;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'] {
    height: 2em;
    border: $border-radius;
    border: solid 1px $border-color;
  }
}
