$primary-color: #266dd3;
/* color pallet */
$dark-Blue: #001845;
$dark-Blue-2: #002855;
$neutral-blue: #023e7d;
$light-blue: #0353a4;
$lightest-blue: #979dac;
/* --  end  -- */
$secondary-color: #3e92cc;
$tertiary-color: #ebf2fa;
$danger-color: #f0aeb0;
$success-color: #2f3632;
$info-color: #ffe9ad;
$white-color: #ffffff;
$black-color: #010001;
$text-color-white: #fdfffc;
$active-text: #3d2b56;

/* borders */

$border-radius: 0.5em;
$border-color: #e5e5e5;
