/* color pallet */
/* --  end  -- */
/* borders */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.form {
  width: 80%;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: solid 1px #023e7d;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.form-control label {
  padding: 0.5em 0;
}
.form-control input {
  height: 2em;
  border: 0.5em;
  border: solid 1px #e5e5e5;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th {
  font-size: 0.8rem;
}

table th,
table td {
  padding: 0.2em;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f5f5f5;
}

@media (min-width: 768px) {
  table th {
    font-size: 0.8rem;
  }
  table th,
  table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}
/* ---- buttons ---- */
.button-3 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #023e7d;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 0.5em;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 0.5em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0.5em auto;
}

.button-2 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #023e7d;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 0.5em;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  padding: 0.5em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible),
.button-2:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-2:hover,
.button-3:hover {
  background-color: #0353a4;
}

.button-2:focus,
.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-2:disabled,
.button-3:disabled {
  background-color: #979dac;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-2:active,
.button-3:active {
  background-color: #001845;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

html {
  font-size: 12px;
}

body {
  background-color: #ebf2fa;
  height: calc(100vh - 70px);
}

a {
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 896px;
  width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  #root {
    height: 100%;
  }
  body {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Light.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Black.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-BlackItalic.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Italic.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Thin.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("ttf");
}
body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

h3 {
  font-size: 0.9rem;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 70px);
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: larger;
}
.home-container h1 {
  margin: 0.5em;
}

.header-fixed {
  width: 100%;
  position: relative;
  z-index: 3;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
}
.header-fixed .large {
  display: none;
}
.header-fixed .small {
  width: 120px;
}
.header-fixed .small a {
  margin-right: 1em;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: #266dd3;
  height: 70px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 0 3px 3px;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-container svg {
  height: 2em;
  width: 2em;
}
.nav-container .navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .navbar div:nth-child(2) {
  width: 9rem;
}
.nav-container .navbar li:hover {
  cursor: pointer;
}
.nav-container div {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container li:nth-child(1) {
  padding: 0 5px;
}

.nav-container.show {
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 0;
}

.menu-icon {
  cursor: pointer;
}

.nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-links li {
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.drop-down {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drop-down.show {
  display: flex;
  align-items: end;
}

@media (min-width: 768px) {
  .nav-container {
    z-index: 3;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navbar div:nth-child(2) {
    display: none;
  }
}
@media (min-width: 1024px) {
  .nav-container .large {
    display: flex;
    list-style: none;
  }
  .nav-container .large li {
    margin: 0 1em;
  }
  .nav-container .large h4 {
    margin: 0 1em;
  }
  .nav-container .small {
    display: none;
  }
}
.login-container {
  width: 393px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 500px;
}
.login-container ul {
  background-color: #ebd0cf;
  margin: 0.5em;
  border: solid 1px #dca7a7;
}
.login-container ul li {
  padding: 0.5em;
  margin-left: 1.5em;
  background-color: #ebd0cf;
  color: #a94342;
  font-size: 0.8rem;
  text-transform: none;
}
.login-container a {
  padding: 0.5em;
  font-size: 0.8em;
  text-decoration: underline;
  display: block;
  text-align: center;
  width: 100%;
  color: black;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.modal h4 {
  padding: 10px;
}
.modal button {
  width: 100px;
  padding: 5px 10px;
}
.modal div {
  display: flex;
  justify-content: space-around;
}

.close-button {
  background-color: #ebd0cf;
  border-radius: 0.5em;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.open-button {
  background-color: #2f3632;
  border-radius: 0.5em;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dash-container {
  min-height: calc(896px - 4.3em);
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.dash-container .student-sec {
  padding: 1em;
}
.dash-container .main-page {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}
.dash-container section {
  width: 100%;
}
.dash-container h3 {
  margin: 0 1em;
}
.dash-container input {
  text-indent: 5px;
  height: 2em;
  border-radius: 1em;
  border: solid 1px #e5e5e5;
}
.dash-container button {
  margin-left: 1em;
}
.dash-container .tabs a {
  font-size: 0.9em;
}
.dash-container .student-course-bar {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #266dd3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dash-container .student-course-bar p {
  color: white;
}
.dash-container .student-course-bar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dash-container .student-course-bar div img {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 0.3em;
}
.dash-container .student-course-bar div svg {
  height: 2em;
  width: 2em;
  margin-bottom: 0.3em;
}

@media (min-width: 768px) {
  .dash-container {
    height: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .dash-container .student-course-bar {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #266dd3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .dash-container .student-course-bar .tabs {
    height: initial;
    flex-grow: none;
  }
  .dash-container .student-course-bar .tabs p {
    font-size: 0.8rem;
  }
  .dash-container .student-course-bar .tabs:hover {
    cursor: pointer;
  }
  .dash-container .student-course-bar div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dash-container .student-course-bar div img {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .dash-container .student-course-bar div svg {
    height: 1.8em;
    width: 1.8em;
    margin-bottom: 0.3em;
  }
  .dash-container .main-page {
    margin: 1em;
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tab-container {
  margin-top: 4.3rem;
  display: flex;
  height: 50px;
  align-items: center;
  width: 100%;
}

.tab {
  background-color: #979dac;
  border-bottom: 2px solid #0353a4;
  height: 3em;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.tab a {
  text-decoration: none;
  color: #333;
}

.active-div {
  background-color: #ebf2fa;
  border-bottom: none;
}

.tab:hover {
  background-color: #ebf2fa;
  border-bottom: none;
}

@media (min-width: 768px) {
  .tab-container {
    margin-top: -0.2em;
  }
}
.main-page .single-course {
  width: 400px;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-page .single-course .img-container {
  position: relative;
  width: 393px;
  height: 390px;
  z-index: 1;
  overflow: hidden;
}
.main-page .single-course .img-container img {
  width: 400px;
}
.main-page .single-course h4 {
  margin: 1em;
}
.main-page .single-course p.description {
  text-transform: none;
  line-height: 1.3em;
}
.main-page .single-course a {
  color: black;
}
.main-page .single-course svg {
  vertical-align: middle;
}
.main-page .single-course .options {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
.main-page .single-course .options button {
  height: 2em;
  padding: 0.4em 2em;
}
.main-page .single-course .options p:nth-child(2) {
  text-align: end;
}

.single-course {
  width: 400px;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.single-course .img-container {
  position: relative;
  width: 393px;
  height: 390px;
  z-index: 1;
  overflow: hidden;
}
.single-course .img-container img {
  width: 400px;
}
.single-course h4 {
  margin: 1em;
}
.single-course p.description {
  text-transform: none;
  line-height: 1.3em;
}
.single-course a {
  color: black;
}
.single-course svg {
  vertical-align: middle;
}
.single-course .options {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
.single-course .options button {
  height: 2em;
  padding: 0.4em 2em;
}
.single-course .options p:nth-child(2) {
  text-align: end;
}

@media (min-width: 768px) {
  .main-page .single-course {
    width: 80%;
  }
  .main-page .single-course p.description {
    width: 80%;
  }
  .main-page .single-course .img-container {
    width: 80%;
  }
  .main-page .single-course .img-container img {
    width: 100%;
  }
  .main-page .single-course .options {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-page .single-course .options button {
    height: 2em;
  }
  .main-page .single-course .options p:nth-child(2) {
    text-align: end;
  }
  .single-course {
    width: 80%;
  }
  .single-course p.description {
    width: 80%;
  }
  .single-course .img-container {
    width: 80%;
    margin: 1em 0;
  }
  .single-course .img-container img {
    width: 100%;
  }
  .single-course .options {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .single-course .options button {
    height: 2em;
  }
  .single-course .options p:nth-child(2) {
    text-align: end;
  }
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  width: 393px;
  height: 700px;
  min-height: 600px;
  overflow: hidden;
}
.carousel-container h3 {
  text-align: center;
  margin-bottom: 1em;
}
.carousel-container .chevron {
  height: 3rem;
  width: 3rem;
}
.carousel-container .title {
  position: relative;
  top: 15em;
}

section.carousel-btn {
  width: 393px;
  position: absolute;
  top: 450px;
}
section.carousel-btn button {
  background-color: rgba(235, 242, 250, 0);
  border: none;
  margin: 0;
  padding: 0;
}

.prev:hover,
.next:hover {
  color: #3e92cc;
}

.prev {
  position: absolute;
  bottom: 9em;
  left: 0;
}

.next {
  position: absolute;
  bottom: 9em;
  right: 0;
}

@media (min-width: 768px) {
  .carousel-container {
    width: 500px;
  }
  .carousel-container .carousel-btn {
    width: 500px;
  }
}
.carousel-item {
  width: 393px;
  padding: 0.8em;
  position: absolute;
  top: 0.2em;
  left: calc(50% - 196.5px);
  z-index: -1;
  opacity: 0;
  transition: transform 0.8s ease;
}
.carousel-item .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.carousel-item h5 {
  position: absolute;
  top: 50%;
  width: calc(100% - 0.8em);
  text-align: center;
}
.carousel-item img {
  width: 550px;
  opacity: 50%;
}
.carousel-item a {
  color: black;
}

.active-slide {
  opacity: 1;
  transform: translateX(0);
}

.previous-slide {
  transform: translateX(-110%);
}

.next-slide {
  transform: translateX(110%);
}

@media (min-width: 768px) {
  .carousel-item {
    width: 500px;
    left: calc(50% - 250px);
  }
}
section.form-container {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 5.5rem;
}
section.form-container ul {
  background-color: #d7ebce;
  margin: 0.5em;
  border: solid 1px #3b763d;
}
section.form-container ul li {
  padding: 0.5em;
  margin-left: 1.5em;
  color: #3b763d;
  font-size: 0.8rem;
  text-transform: none;
}
section.form-container ul.warning {
  background-color: #ebd0cf;
  border: solid 1px #dca7a7;
}
section.form-container ul.warning li {
  background-color: #ebd0cf;
  color: #a94342;
  text-transform: none;
}

@media (min-width: 768px) {
  .form-group {
    display: flex;
    flex-wrap: wrap;
  }
  .form-group .form-control {
    width: 50%;
  }
  .form-group .form-control ul.guidelines {
    width: 200%;
  }
}
@media (min-width: 1024px) {
  .form-container form {
    width: 50%;
  }
}
.courses-container {
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: solid 1px #023e7d;
  overflow-y: scroll;
  margin-top: 5.5rem;
}
.courses-container h2 {
  text-align: center;
}
.courses-container hr {
  margin: 1em;
}
.courses-container .search,
.courses-container .filter {
  width: 100%;
}
.courses-container .search label,
.courses-container .filter label {
  margin: 0 0.5em;
}
.courses-container .search form,
.courses-container .filter form {
  display: flex;
  justify-content: center;
}
.courses-container button {
  margin: 0 0.5em;
}
.courses-container a {
  color: black;
}

#search {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.cards-container {
  margin: 1em 0;
  margin-bottom: 2em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .courses-container {
    margin: 1em;
  }
}
.search-filter {
  display: flex;
  justify-content: space-around;
}

article.card {
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin: 0.5rem;
  width: 10.5rem;
  height: 13.5rem;
  border-radius: 0.5em;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
article.card .course-name {
  height: 45%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5em;
}

div.img-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 50%;
}
div.img-card img {
  width: 100%;
}

.dash-page {
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: solid 1px #023e7d;
  overflow-y: scroll;
}
.dash-page .search {
  display: flex;
  justify-content: end;
}
.dash-page .search input {
  margin: 1em;
  text-align: center;
}
.dash-page .accounts .pagination {
  margin: 1em;
  display: flex;
  justify-content: center;
}
.dash-page .accounts .no-users {
  position: relative;
  top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.dash-page .accounts svg {
  margin: 0 0.5em;
  cursor: pointer;
}
.dash-page .accounts a {
  color: black;
  margin: 0 1em;
}
.dash-page .active-link {
  text-decoration: underline;
  font-size: 1.3em;
  color: #3d2b56;
  transform: translateY(-0.3em);
  transition: translateY 0.3s;
}
.dash-page .account-details {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
.dash-page .account-details .personal-info {
  width: 30%;
}
.dash-page .account-details .personal-info .portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-page .account-details .personal-info .portrait img {
  border-radius: 50%;
}
.dash-page .account-details .personal-info .portrait p {
  padding: 1em;
}
.dash-page .account-details .personal-info hr {
  margin: 1em 0;
  width: 50%;
}
.dash-page .account-details .personal-info svg {
  height: 3em;
  width: 3em;
}
.dash-page .account-details p {
  margin: 0.5em 0;
}
.dash-page .account-details .enrolled-courses {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-page .account-details .enrolled-courses .opaque {
  opacity: 0.6;
}
.dash-page .account-details .enrolled-courses svg {
  cursor: pointer;
}

@media (min-width: 768px) {
  .dash-page .account-details {
    flex-direction: row;
  }
  .dash-container .student-account {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dash-container .student-account .enrolled-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
    border-radius: 0.5em;
  }
  .dash-container .student-account .enrolled-courses h1,
  .dash-container .student-account .enrolled-courses p {
    margin: 1.5em;
  }
  .dash-container .student-account .enrolled-courses svg {
    cursor: pointer;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.modal h4 {
  padding: 10px;
}
.modal button {
  width: 100px;
  padding: 5px 10px;
}
.modal div {
  display: flex;
  justify-content: space-around;
}

.close-button {
  background-color: #ebd0cf;
  border-radius: 0.5em;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.open-button {
  background-color: #2f3632;
  border-radius: 0.5em;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

section.account-container {
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: solid 1px #023e7d;
  border-radius: 0.5em;
  overflow-y: scroll;
}
section.account-container input {
  border-radius: 0;
}
section.account-container .form-group div.btn-container {
  display: flex;
  justify-content: center;
}
section.account-container .account-info .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  section.account-container {
    padding-top: 2em;
    flex-direction: column;
    width: 90%;
  }
  section.account-container hr {
    margin: 1em;
  }
}
.profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-photo img {
  height: 4em;
  width: 4em;
  margin: 0.5em;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-layout {
  height: 100%;
  margin-top: 4.3em;
  overflow-x: scroll;
}

.active {
  color: #3d2b56;
}/*# sourceMappingURL=main.css.map */