/* color pallet */
/* --  end  -- */
/* borders */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.form {
  width: 80%;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: solid 1px #023e7d;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.form-control label {
  padding: 0.5em 0;
}
.form-control input[type=text],
.form-control input[type=password],
.form-control input[type=email] {
  height: 2em;
  border: 0.5em;
  border: solid 1px #e5e5e5;
}

/* ---- buttons ---- */
.button-3 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #023e7d;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 0.5em;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 0.5em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0.5em auto;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #0353a4;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #979dac;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #001845;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

html {
  font-size: 16px;
  background-color: white;
}

body {
  background-color: #ebf2fa;
  min-height: 100vh;
}

a {
  color: #010001;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Light.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf"), url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("ttf");
}
body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

h3 {
  font-size: 0.9rem;
}

.home-container {
  margin-top: 5.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: larger;
}

@media (min-width: 768px) {
  .home-container {
    margin: 1em;
  }
}
.header-fixed {
  width: 100%;
  position: relative;
  z-index: 3;
  height: -moz-fit-content;
  height: fit-content;
}
.header-fixed .large {
  display: none;
}
.header-fixed .small {
  width: 120px;
}
.header-fixed .small a {
  margin-right: 1em;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: #266dd3;
  height: 70px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 0 3px 3px;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-container svg {
  height: 2em;
  width: 2em;
}
.nav-container .navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .navbar div:nth-child(2) {
  width: 9rem;
}
.nav-container .navbar li:hover {
  cursor: pointer;
}
.nav-container div {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container li:nth-child(1) {
  padding: 0 5px;
}

.nav-container.show {
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 0;
}

.menu-icon {
  cursor: pointer;
}

.nav-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-links li {
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.drop-down {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drop-down.show {
  display: flex;
  align-items: end;
}

@media (min-width: 768px) {
  .nav-container {
    width: 100%;
    position: relative;
    z-index: 3;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navbar div:nth-child(2) {
    display: none;
  }
}
@media (min-width: 1024px) {
  .nav-container .large {
    display: flex;
    list-style: none;
  }
  .nav-container .large li {
    margin: 0 1em;
  }
  .nav-container .large h4 {
    margin: 0 1em;
  }
  .nav-container .small {
    display: none;
  }
}
.login-container {
  width: 393px;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 500px;
}
.login-container ul {
  background-color: #ebd0cf;
  margin: 0.5em;
  border: solid 1px #dca7a7;
}
.login-container ul li {
  padding: 0.5em;
  margin-left: 1.5em;
  background-color: #ebd0cf;
  color: #a94342;
  font-size: 0.8rem;
  text-transform: none;
}
.login-container a {
  padding: 0.5em;
  font-size: 0.8em;
  text-decoration: underline;
  display: block;
  text-align: center;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.modal h4 {
  padding: 10px;
}
.modal button {
  width: 100px;
  padding: 5px 10px;
}
.modal div {
  display: flex;
  justify-content: space-around;
}

.close-button {
  background-color: #ebd0cf;
  border-radius: 0.5em;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.open-button {
  background-color: #2f3632;
  border-radius: 0.5em;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tab-container {
  margin-top: 4.3rem;
  display: flex;
  height: 50px;
  align-items: center;
  width: 100%;
}

.tab {
  background-color: #979dac;
  border-bottom: 2px solid #0353a4;
  height: 3em;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.tab a {
  text-decoration: none;
  color: #333;
}

.active-div {
  background-color: #ebf2fa;
  border-bottom: none;
}

.tab:hover {
  background-color: #ebf2fa;
  border-bottom: none;
}

@media (min-width: 768px) {
  .tab-container {
    margin-top: -0.2em;
  }
}
.single-course {
  max-width: 400px;
  margin: 5.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.single-course .img-container {
  position: relative;
  width: 393px;
  height: 390px;
  z-index: 1;
  overflow: hidden;
}
.single-course .img-container img {
  width: 400px;
}
.single-course h4 {
  margin: 1em;
}
.single-course p {
  text-transform: none;
  text-indent: 2em;
  margin: 1em;
}
.single-course a {
  margin: 1em;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  width: 393px;
  height: 700px;
  min-height: 600px;
  overflow: hidden;
}
.carousel-container h3 {
  text-align: center;
  margin-bottom: 1em;
}
.carousel-container .chevron {
  height: 3rem;
  width: 3rem;
}
.carousel-container .title {
  position: relative;
  top: 15em;
}

section.carousel-btn {
  width: 393px;
  position: absolute;
  top: 450px;
}
section.carousel-btn button {
  background-color: rgba(235, 242, 250, 0);
  border: none;
  margin: 0;
  padding: 0;
}

.prev:hover,
.next:hover {
  color: #3e92cc;
}

.prev {
  position: absolute;
  bottom: 9em;
  left: 0;
}

.next {
  position: absolute;
  bottom: 9em;
  right: 0;
}

@media (min-width: 768px) {
  .carousel-container {
    width: 500px;
  }
  .carousel-container .carousel-btn {
    width: 500px;
  }
}
.carousel-item {
  width: 393px;
  padding: 0.8em;
  position: absolute;
  top: 0.2em;
  left: calc(50% - 196.5px);
  z-index: -1;
  opacity: 0;
  transition: transform 0.8s ease;
}
.carousel-item .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.carousel-item h5 {
  position: absolute;
  top: 50%;
  width: calc(100% - 0.8em);
  text-align: center;
}
.carousel-item img {
  width: 550px;
  opacity: 50%;
}

.active-slide {
  opacity: 1;
  transform: translateX(0);
}

.previous-slide {
  transform: translateX(-110%);
}

.next-slide {
  transform: translateX(110%);
}

@media (min-width: 768px) {
  .carousel-item {
    width: 500px;
    left: calc(50% - 250px);
  }
}
section.form-container {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 5.5rem;
}
section.form-container small {
  padding: 0.3em;
  border-radius: 0.5em;
  background-color: #ebd0cf;
  border: solid 1px salmon;
}
section.form-container ul {
  background-color: #f7edd2;
  margin: 0.5em;
  border: solid 1px #ffc007;
}
section.form-container ul li {
  padding: 0.5em;
  margin-left: 1.5em;
  color: #ffc007;
  font-size: 0.8rem;
  text-transform: none;
}
section.form-container ul.warning {
  background-color: #ebd0cf;
  border: solid 1px #dca7a7;
}
section.form-container ul.warning li {
  background-color: #ebd0cf;
  color: #a94342;
  text-transform: none;
}

.courses-container {
  height: 100%;
  margin-top: 5.5rem;
}
.courses-container h2 {
  text-align: center;
}
.courses-container hr {
  margin: 1em;
}
.courses-container .search,
.courses-container .filter {
  width: 100%;
}
.courses-container .search label,
.courses-container .filter label {
  margin: 0 0.5em;
}
.courses-container .search form,
.courses-container .filter form {
  display: flex;
  justify-content: center;
}
.courses-container button {
  margin: 0 0.5em;
}

#search {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.cards-container {
  margin: 1em 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .courses-container {
    margin: 1em;
  }
}
.search-filter {
  display: flex;
  justify-content: space-around;
}

article.card {
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin: 0.5rem;
  width: 10.5rem;
  height: 13.5rem;
  border-radius: 0.5em;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
article.card .course-name {
  height: 45%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5em;
}

div.img-card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 50%;
}
div.img-card img {
  width: 100%;
}

.active {
  color: #3d2b56;
}/*# sourceMappingURL=main.css.map */